*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #1d1d1d;
    --text-color: white;
    --main_color: #FE277E;
    --header-color:  rgb(0, 0, 0, 0.3);
}
.dark-theme{
    --bg-color: white;
    --text-color: #080808;
    --second-bg-color: rgb(233, 226, 226);
    --header-color: rgb(f, f, f, 0.3);
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main_color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover, .navbar a.active{
    color: var(--main_color);
    border-bottom: 3px solid var(--main_color);
}
#icon-sun{
    position: relative;
    width: 25px;
    cursor: pointer;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main_color);
}
.logo span{
    color: var(--main_color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main_color);
    cursor: pointer;
    transition: 0.4rem ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main_color),
                0 0 50px var(--main_color),
                0 0 100px var(--main_color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main_color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main_color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main_color);
    background-color: var(--main_color);
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main_color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main_color);
    }
}
@keyframes words{
    0%,
    20%{
        content:"Full Stack";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "Frontend Designer";
    }
    61%,
    80%{
        content: "Web Developer";
    }
    81%,
    100%{
        content: "Backend";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.about{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}
.about-img{
    border-radius: 50%;
    margin-right: 60px;
}
.about-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4rem ease-in-out;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
    line-height: 25px;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main_color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.5rem;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s ease;
}
.btn:hover{
    color: var(--text-color);
    transform: scale(1)translateY(-5px);
    box-shadow: 0 0 25px var(--main_color);
    background-color: var(--main_color);
}
.education{
    padding: 100px 15p;
    background: var(---bg-color);
}
.education h2{
    margin-bottom: 5rem;
}
.time-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.time-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main_color);
    left: calc(50% - 1px);
}
.time-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.time-item:last-child{
    margin-bottom: 0;
}
.time-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.time-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.time-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main_color);
    box-shadow: 0 0 25px var(--main_color),
                0 0 50px var(--main_color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.time-date{
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
    margin: 6px 0 15px;
}
.time-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main_color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main_color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.time-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main_color);
}
.time-content h3{
    font-size: 20px;
    color: var(--text-color);
    margin: 0 0 10px;
    font-weight: 500;
}
.time-content p{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 300;
    line-height: 22px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main_color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
.skills{
    padding: 100px 15px;
    background-color: var(--second-bg-color);
}
.skills h2{
    margin-bottom: 5rem;
}
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    height: 100%;
}
.container1{
    width: 600px;
    height: 500px;
    /* border: 1px solid red; */
    /* padding: 75px 90px; */
    /* margin-left: 120px; */
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 800;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-bottom: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: var(--bg-color);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: var(--main_color);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 80%;
}
.progress-line.css span{
    width: 70%;
}
.progress-line.JavaScript span{
    width: 50%;
}
.progress-line.Python span{
    width: 75%;
}
.progress-line.MySQL span{
    width: 85%;
}
.progress-line.PHP span{
    width: 65%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: "80%";
}
.progress-line.css span::after{
    content: "70%";
}
.progress-line.JavaScript span::after{
    content: "50%";
}
.progress-line.Python span::after{
    content: "75%";
}
.progress-line.MySQL span::after{
    content: "85%";
}
.progress-line.PHP span::after{
    content: "65%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: var(--bg-color);
    color: var(--text-color);
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: var(--bg-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: var(--main_color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{
    animation: animation-path1 1s 1s linear forwards;
}
.path-2{
    animation: animation-path2 1s 1s linear forwards;
}
.path-3{
    animation: animation-path3 1s 1s linear forwards;
}
.path-4{
    animation: animation-path4 1s 1s linear forwards;
}
@keyframes animation-path1{
    100%{
        stroke-dashoffset: 135;
    }
}
@keyframes animation-path2{
    100%{
        stroke-dashoffset: 120;
    }
}
@keyframes animation-path3{
    100%{
        stroke-dashoffset: 210;
    }
}
@keyframes animation-path4{
    100%{
        stroke-dashoffset: 170;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.main-text{
    padding-top: 40px;
}
.pro-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(359px, auto));
    gap: 20px;
}
.pro-row{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--main_color);
}
.pro-row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s ;
}
.pro-row img:hover{
    box-shadow: 0 0 25px var(--main_color);
}
.pro-row:hover img{
    transform: scale(1.1);
}
.pro-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    background: linear-gradient(rgb(0, 0, 0, 0.3),#FE277E);
    transition: height 0.5s;
}
.pro-row:hover .pro-layer{
    height: 100%;
}
.pro-layer h5{
    color: var(--bg-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.pro-layer p{
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
}
.pro-layer i{
    color: var(--main_color);
    background: var(--text-color);
    margin-top: 20px;
    font-size: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.contact{
    background-color: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auti;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border: 2px solid var(--main_color);
    border-radius: 2rem;
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}
footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main_color);
}
footer .social a{
    font-size: 25px;
    color: var(--main_color);
    border: 2px solid var(--main_color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main_color);
    color: var(--second-bg-color);
    box-shadow: 0 0 25px var(--main_color);
}
footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
footer ul li a:hover{
    border-bottom: 3px solid var(--main_color);
}
footer ul li{
    display: inline-block;
    padding: 0 15px;
}
footer .copyright{
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}
footer .a{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--main_color);
    padding: 0.6rem;
    border-radius: 5px;
    right: 10px;
}
footer .a i{
    font-size: 2rem;
}
@media screen and (max-width:1285px) {
    html{
        font-size: 55%;
    }
    .pro-content{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }
}
@media screen and (max-width:1100px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 2rem 3%;
    }
    .time-items::before{
        left: 7px;
    }
    .time-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .time-item:nth-child(odd), .time-item:nth-child(even){
        padding-left: 37px;
    }
    .time-dot{
        left: 0;
    }
    .project{
        padding-bottom: 7rem;
    }
    .contact form{
        flex-direction: column;
        padding: 20px;
    }
    .navbar{
        display: none;
    }
    .respo-nav{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 500px;
        top: 0;
        left: 0;
        background-color: var(--bg-color);
        z-index: 10000;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        ul{
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
    .nav-rsp{
        width: 80%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 60%;
            
        } 
        ul a{
            margin: 10px 0;
            font-size: 20px;
            text-align: left;
            color: var(--text-color);
        }
        ul a:hover{
            color: var(--main_color);
            border-bottom: 3px solid var(--main_color);
        }
        button{
            position: relative;
            bottom: 215px;
            height: 50px;
            /* border: 1px solid red; */
            background-color: var(---bg-color);
        }
        button i {
            color: var(--text-color);
            font-size: 25px;
        }
        button i:hover {
            color: var(--main_color);
        }
    }

    footer{
        padding: 2rem 3%;
    }

}
.respo-nav{
    display: none;
}
@media  (max-width:600px) {
    html{
        font-size: 50%;
    }
    .pro-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    #container{
        
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    section{
        min-height: 100vh;
        padding: 4rem 0rem !important;
        
    }
    .container1{
        width: 600px;
        height: 500px;
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .container1 .radial-bar{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .text{
            /* border: 1px solid red; */
            position: relative;
            display: flex;
            align-items: center;
            top: 80px;
        }
    }
    .home{
        display: flex;
        flex-direction: column;
    }
    .home-img{
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            position: relative;
            top: 70px;
        }
    }
    #menu-icon{
        display: block;
        cursor: pointer;
    }
    #menu-icon:hover{
        color: var(--main_color);
    }
    .home-content{
        order: 2;
        padding: 20px;

        h1{
            font-size: 40px;
        }
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about-img{
            width: 300px;
            height: 300px;
            /* border: 1px solid red; */
            margin: 0;

            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .about-content{
            text-align: left;
            padding: 20px;
            /* border: 1px solid red; */
            margin: 0;
        }
    }
    .navbar{
        display: none;
    }
    .respo-nav{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 500px;
        top: 0;
        left: 0;
        background-color: var(--bg-color);
        z-index: 10000;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        ul{
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
    .nav-rsp{
        width: 80%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 60%;
            
        } 
        ul a{
            margin: 10px 0;
            font-size: 20px;
            text-align: left;
            color: var(--text-color);
        }
        ul a:hover{
            color: var(--main_color);
            border-bottom: 3px solid var(--main_color);
        }
        button{
            position: relative;
            bottom: 215px;
            height: 50px;
            /* border: 1px solid red; */
            background-color: var(---bg-color);
        }
        button i {
            color: var(--text-color);
            font-size: 25px;
        }
        button i:hover {
            color: var(--main_color);
        }
    }
    footer .social{
        a:hover{
            transform: scale(1)translateY(-5px);
        }
    }
    .education .time-items{
        padding: 13px;
    }
    .education .time-items::before{
       left: 20px;
    }
}